<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Employee | AWS Cloud Club KIET</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
  <header>
    <h1>AWS Cloud Club – KIET</h1>
    <p class="subtitle">Edit Employee Details</p>
  </header>

  <section class="card">
    <form method="POST">
      <input type="text" name="name" value="{{ employee.name }}" required>
      <input type="text" name="role" value="{{ employee.role }}" required>
      <button type="submit">Update</button>
    </form>
  </section>

  <footer>
    <p>Build Once. Run Anywhere.</p>
  </footer>
</div>

</body>
</html>